# Ignore everything
*

# Do not ignore the .gitignore file itself
!.gitignore

# Do not ignore specific files and directories
!Breakout/
!Breakout/Assets/
!Breakout/Assets/scripts/
!Breakout/Assets/scripts/**
